.header {
    padding-left: 20px;
    position: relative;

    z-index: 100;
    box-shadow: 0 1px 2px #0009;

    .logo {
        // color: #fff;
        margin-top: 2px;
    }

    .title {
        margin-left: 16px;
        padding: 5px;

        color: white;
        font-weight: 500;
        font-style: italic;
        font-size: 1rem;
        text-shadow: 1px 1px 5px #fffad8;
    }

    .userInfo {
        position: absolute;
        right: 10px;
        display: flex;
        align-items: center;
    }

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #fff;
        padding: 2px;
    }

    .btnLogout {
        margin-left: 10px;
    }
}